.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .selection {
        display: flex;
        align-items: center;
    }

    .setting__name {
        color: #ddd;
        font-size: 1.6rem;
    }

    .selection {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            cursor: pointer;
        }

        span {
            font-size: 1.4rem;
            display: inline-block;
            color: #575b74;
            margin-right: 1em;
            margin-top: -0.12em;
        }
    }
}